body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: auto;
    background-color: #f3f3f3;
}

.left-side {
    width: 30%;
    background-color: #f3f3f3;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid #000; /* Vertical line */
    height: 100vh;
    overflow: auto;
}

.right-side {
    flex: 1;
    width: 70%;
    background-color: #fff;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 20px, #ccc 20px, #ccc 21px);
    background-size: 100% 30px; /* Adjust the height of the lines as needed */
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
}


.vertical-line {
    border-left: 2px solid #000; /* Adjust thickness and color as needed */
    height: 100%;
}

.container {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

select, input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
}

select {
    background-color: #f1f1f1;
}





body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.input-section {
    width: 45%;
}

.dropdowns select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.output-section {
    width: 45%;
}

